.review {
   padding: 5rem 4% 5rem 11%;
}

.slide {
   padding: 2rem;
   box-shadow: var(--box_shadow);
   border: 0.1rem solid rgba(0, 0, 0, 0.2);
   border-radius: 0.5rem;
   position: relative;
   margin-bottom: 4rem;
}

.slide .review_quote {
   position: absolute;
   top: 1.1rem;
   right: 2rem;
   font-size: 6rem;
   color: #ccc;
}
.slide .user {
   display: flex;
   gap: 1.5rem;
   align-items: center;
   padding-bottom: 1.5rem;
}
.slide .user img {
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}
.slide .user h3 {
   color: var(--black);
   font-size: 2rem;
   padding-bottom: 0.2rem;
}
.slide .user .user_info .review_star {
   font-size: 1.5rem;
   color: var(--green);
}
.slide p {
   font-size: 1.5rem;
   line-height: 1.8rem;
   color: var(--light_color);
}
@media (max-width: 450px) {
   .review {
      padding: 5rem 2% 5rem 16%;
   }
   .slide .review_quote {
      font-size: 4rem;
   }
   .slide .user {
      flex-direction: column;
      justify-content: start;
   }
   .slide p {
      font-size: 1.5rem;
      line-height: 1.8rem;
      color: var(--light_color);
      text-align: center;
   }
}
