.slider_home .slider_item span {
   color: var(--green);
   font-size: 2.5rem;
}
.slider_home .slider_item .slider_title {
   color: var(--black);
   font-size: 7rem;
}
.slider_home .slider_item .slider_text {
   color: var(--light-color);
   font-size: 1.5rem;
}
