.home_nav_menu {
   background: var(--fade_white);
   padding-top: 5rem;
   margin-top: 2rem;
}
.home_nav_menu h3 {
   padding-bottom: 1.5rem;
}
.home_nav_menu .home_nav_item {
   margin-left: 1rem;
   padding: 0.8rem 1.6rem;
}

.home_nav_menu .featured_selected,
.home_nav_menu .home_nav_item:hover {
   color: var(--green);
   background: var(--fade_white);
   text-decoration: underline;
   transition: all 0.3s linear;
}
@media (max-width: 450px) {
   .home_nav_menu {
      padding-left: 12%;
   }
   .home_nav_menu .home_nav_item {
      font-size: 2rem;
   }
}
