.form_wrapper {
   text-align: center;
   padding: 5rem 0 5rem 10%;
}
.form_wrapper .form_login .input_field {
   width: 75%;
   margin: 0 auto;
}
.form_wrapper .form_login .input_field span {
   display: block;
   padding: 0.5rem 0;
   font-size: 1.5rem;
   color: var(--light_color);
   text-align: left;
}
.form_login {
   max-width: 550px;
   margin: 0 auto;
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
   border-radius: 0.5rem;
   padding: 2rem 0;
}
.form_wrapper .form_login .input_field .error {
   margin: 0 auto;
   margin-top: -5px;
   text-align: start;
   color: red;
}

.form_wrapper .form_login .input_field .error::before {
   display: inline;
   content: "⚠ ";
}
.form_wrapper .form_login .input_field input,
.form_wrapper .form_login .input_field textarea {
   background: var(--fade_white);
   border: none;
   border-radius: 0.5rem;
   padding: 1rem;
   font-size: 1.6rem;
   color: var(--dark);
   text-transform: none;
   margin-bottom: 1rem;
   width: 100%;
}
.form_wrapper .form_login .input_field textarea {
   height: 20rem;
   resize: none;
}
.form_wrapper .form_login .input_field input:focus,
.form_wrapper .form_login .input_field textarea:focus {
   border: 0.1rem solid var(--green);
}
.form_wrapper p {
   font-size: 1.5rem;
}
.form_wrapper p a:hover {
   text-decoration: underline;
}
.form_wrapper .other_login {
   margin-top: 2rem;
}
.form_wrapper .other_login button {
   border: none;
   padding: 0.7rem 1.8rem;
   border-radius: 2rem;
   background: var(--white);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.form_wrapper .other_login button:hover {
   background: rgb(223, 219, 219);
}
.form_wrapper .other_login .login_icon {
   font-size: 4rem;
}
@media (max-width: 1024px) {
   .form_wrapper {
      height: 58vh;
      padding-left: 12%;
   }
}
@media (max-width: 768px) {
   .form_wrapper {
      height: 100%;
      /* padding-left: 12%; */
   }
}
@media (max-width: 450px) {
   .form_wrapper {
      height: 100%;
      /* padding-left: 12%; */
   }
}
