@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
   --font_rob: "Roboto", sans-serif;
   --font_pop: "Poppins", sans-serif;
   --dark: #11101d;
   --gray: #a4b2bc;
   --white: #fff;
   --content_bg: #e4e9f7;
   --light_dark: #1b1b31;
   --green: #27ae60;
   --black: #192a56;
   --light_color: #666;
   --fade_white: #eee;
   --box_shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font_rob);
   scroll-behavior: smooth;
}
html {
   font-size: 62.5%;
}
a {
   text-decoration: none;
}
li {
   list-style: none;
}
.sub_heading {
   text-align: center;
   color: var(--green);
   font-size: 2.5rem;
   padding-top: 1rem;
   font-weight: 700;
   letter-spacing: 0.2rem;
}
.heading {
   text-align: center;
   color: var(--black);
   font-size: 3.5rem;
   padding: 2rem 0;
   text-transform: uppercase;
   font-weight: 900;
   letter-spacing: 0.5rem;
}
.header {
   position: relative;
   left: 220px;
   max-width: calc(100% - 220px);
   transition: all 0.3s ease;
}
.sidebar.close ~ .header {
   left: 78px;
   max-width: calc(100% - 78px);
}
.swiper-pagination-bullet-active {
   background: var(--green);
}
.box_btn {
   margin-top: 1rem;
   display: inline-block;
   font-size: 1.7rem;
   color: var(--white);
   background: var(--black);
   border-radius: 0.5rem;
   cursor: pointer;
   padding: 0.8rem 3rem;
   transition: all 0.3s ease;
}
.box_btn:hover {
   background: var(--green);
   letter-spacing: 0.1rem;
}
@media (max-width: 1024px) {
   html {
      font-size: 59%;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 55%;
   }
}
@media (max-width: 450px) {
   html {
      font-size: 48%;
   }
   .home_slider .slide_item {
      padding-left: 12%;
   }
}
