@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
   --font_rob: "Roboto", sans-serif;
   --font_pop: "Poppins", sans-serif;
   --sidebar_bg: #11101d;
   --gray: #a4b2bc;
   --white: #fff;
   --content_bg: #e4e9f7;
   --light_dark: #1b1b31;
   --green: #27ae60;
   --black: #192a56;
   --light-color: #666;
   --fade-white: #eee;
   --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--font_rob);
   scroll-behavior: smooth;
}
html {
   font-size: 62.5%;
}
a {
   text-decoration: none;
}
li {
   list-style: none;
}
.header {
   position: relative;
   left: 220px;
   max-width: calc(100% - 220px);
   transition: all 0.3s ease;
}
.sidebar.close ~ .header {
   left: 78px;
   max-width: calc(100% - 78px);
}
.swiper-pagination-bullet-active {
   background: var(--green);
}

@media (max-width: 1024px) {
   html {
      font-size: 59%;
   }
}
@media (max-width: 768px) {
   html {
      font-size: 55%;
   }
}
@media (max-width: 450px) {
   html {
      font-size: 48%;
   }
   .home_slider .slide_item {
      padding-left: 12%;
   }
}
